.panel {
  width: 100%;
  padding: 0 $h $v/2 $h;
  background: $grey-dark;
  color: white;
  display: flex;
  flex-direction: column;

  flex-shrink: 0;

  & > * {
    margin: $v/2 0;
  }
}

@media screen and (min-width: 500px) {
  .panel {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;

    & > div {
      flex-grow: 1;
      margin-left: $v*2;
      margin-right: $v*2;
      min-width: 40%;
    }
  }
}
