.progress {
  @include block($grey-dark, $grey-mid);
  display: inline-block;
  height: 20px;
  width: 100px;
  flex-grow: 1;

  &__inner {
    height: 100%;
    background: $red-light;

    &--critical {
      background: $red-light;
    }

    &--low {
      background: #f5a139;
    }

    &--medium {
      background: $yellow;
    }

    &--high {
      background: #0cd03f;
    }
  }
}

.progress-resource {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: $h;
  }
}
