.resources-panel {
  @include block(#594512, #a58438);
  padding: $v/2 $h/2;
}

.resource-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: $v/2;
  }
}

.resource {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  width: 110px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__name {
    width: 26px;
    height: 21px;
    margin-right: 10px;
  }

  &__delta {
    &--positive {
      color: $green-light;
    }

    &--zero {
      color: $grey-dark;
    }

    &--negative {
      color: $red-light;
    }
  }
}
