$red: #9f4444;
$red-dark: #4f1616;
$red-mid: #9f4444;
$red-light: #d03c0c;
$teal-dark: #0d271a;
$teal-mid: #449f71;
$grey-mid: #d5d5d5;
$grey-light: #e0e0e0;
$grey-dark: #505050;
$yellow: #ffda4a;
$green-light: #7ab906;

$radius: 10px;

$h: 20px;
$v: 20px;
